# vim generated
*.swp
*~

# Ignore the bazel symlinks
/bazel-*

# Visual Studio 2017
.vs

# Visual Studio Code
/.vscode/

# IntelliJ
.idea
*.iml

# Eclipse
**/.settings
**/.project
**/.classpath

# Clangd uses these common ephemeral files
.cache
compile_commands.json

# build
/build/